{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all"
}